body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif; */
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* height: 100vh; */
}

.main-page {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.main-button {
    padding: 20px;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    background-color: #bef2ff;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    max-width: 30%;
    transition: all 0.15s ease-in;
    color: black;
    text-align: center;
    border-radius: 6px;
}

.main-button:hover {
    opacity: 0.5;
}

#root {
    width: 100%;
    height: 100%;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center {
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-center {
    flex: 1;
    position: relative;
}

.bottom-center {
    display: flex;
    flex-direction: row;
}

.right {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-left {
    position: relative;
}

.bottom-left {
    flex: 1;
    position: relative;
}

.top-right {
    flex: 1;
    position: relative;
}

.bottom-right {
    flex: 1;
    position: relative;
}

.results {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.layers {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.result {
    cursor: pointer;
    padding: 5px;
}

.result:hover {
    background-color: lightyellow;
}

.layer {
    display: flex;
    font-size: 9px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 2px;
    flex-direction: 'row';
}

.neuron {
    flex: 1;
    background-color: #eee;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid black;
    user-select: none;
}

.logit {
    background-color: #eee;
    min-width: 50px;
    margin: 1px;
    text-align: center;
}

.neuron:hover {
    background-color: lightblue;
}

.matches {
    position: absolute;
    width: 100%;
    height: 100%;
    word-break: break-word;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.match {
    flex: 1;
    margin: 5px;
    padding: 2px;
    background-color: #eee;
    line-height: 25px;
}

.plot {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}