body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center {
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-center {
    flex: 1;
    position: relative;
}

.bottom-center {
    display: flex;
    flex-direction: row;
}

.right {
    flex: 1;
    position: relative;
}

.top-left {
    position: relative;
}

.bottom-left {
    flex: 1;
    position: relative;
}

.results {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.layers {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.result {
    cursor: pointer;
    padding: 5px;
}

.result:hover {
    background-color: lightyellow;
}

.layer {
    display: flex;
    font-size: 11px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 2px;
    flex-direction: 'row';
}

.neuron {
    flex: 1;
    /* border: thin solid black; */
    background-color: #eee;
    max-width: 100px;
    margin: 1px;
    text-align: center;
    cursor: pointer;
}

.neuron:hover {
    background-color: lightblue;
}